@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  }

  /* Custom Scrollbar Styles for the Entire App */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #23272a;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #101113;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-corner {
    background: #101113;
  }

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background: #35373b;
    }
    ::-webkit-scrollbar-track {
      background: #18191b;
    }
    ::-webkit-scrollbar-corner {
      background: #18191b;
    }
  }

